body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  background: #000000;

}
*{
  box-sizing: border-box;
}
h1{
  margin-top: 2rem;
}
h2,h3,h4,h5,h6,p{
  margin: 0;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
}
nav a{
  padding: 15px 30px ;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: block;
  transition: ease-out 0.2s;
}
nav a:hover{
  background: rgb(77, 0, 183);
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
.taskList{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.taskItem {
  flex:  0 0 47%;
  border: 4px solid #000;
  padding: 20px;
  margin-top: 2rem;
}
.taskItem p{
  margin-top: 15px;
}
.taskItemHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskStatus{
  font-size: 14px;
  display: block;
  font-weight: 700;
}

.taskBtns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskBtns button{
  flex: 0 0 48%;
  background: #fff;
  border: 2px solid #000;
  padding: 8px 0;
  margin-top: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: ease-out 0.2s;
}
.taskBtns button:hover{
  background: #000;
  color: #fff;
}
.tasks-wrapper{
  display: flex;
  align-items: flex-start;

}
.add-task{
  flex: 0 0 250px;
  padding-right: 30px;
  margin-top: 34px;
}
.add-task form{
  border: 2px solid #000;
  padding: 0 20px 15px;
}
.view-task{
  flex:  1 1 auto;
}
.add-task input,.add-task textarea{
  padding: 5px;
  width: 100%;
  display: block;
  border: 1px solid #000000;
  margin-top: 15px;
  outline: none;
  background: #fff;

}
.add-task textarea{
  resize: none;
}
.add-task input[type=submit]{
  transition: ease-out 0.2s;
  cursor: pointer;
}.add-task input[type=submit]:hover{
   background: #000;
   color: #fff;
 }

.register{
  max-width: 50%;
  border: 2px solid #000;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.register form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
